body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: pink;
    height: auto;
    padding: 10px;
    align-items: center;
    border-radius: 6px;
}

button {
    padding: 6px 10px;
    color: rgb(126, 70, 80);
    margin: 4px;
    background-color: rgb(255, 235, 238);
    border-width: 0.15px;
    border-radius: 2px;
}

.container:hover {
    box-shadow: 6px 6px 6px rgba(71, 51, 50, 0.15);
}

.input {
    padding: 6px;
    margin: 8px 6px;
}