body {
    /* margin: 0;
    padding: 0; */
    background-color: rgb(243, 219, 219);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background-color: rgb(255, 255, 185);
    height: auto;
    width: 300px;
    border: none;
    border-radius: 15px;
}

.container:hover {
    box-shadow: 4px 5px 6px rgba(90, 90, 90, 0.5);
}

.header {
    font-weight: 900;
    font-size: 28px;
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid white;
    margin-bottom: 20px;
    border-color:  rgb(196, 240, 255);
}

.addTask {
    display: flex;
    justify-content: space-evenly;
}

input {
    padding: 7px;
    border-radius: 6px;
    font-family: Arial;
    border: solid;
    border-width: 0.25px;
}

button {
    background-color: rgb(196, 240, 255);
    color: rgb(14, 14, 14);
    padding: 6px;
    border-radius: 5px;
    border-width: 0.15px
}

button:hover {
    border: 1px solid black;
    box-shadow: 6px 6px 8px rgba(90, 90, 90, 0.15);
}

ul {
    list-style: none;
    padding: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    padding: 8px;
    margin-bottom: 7px;
    border-color:  rgb(196, 240, 255);
}
